@import './App.css';

.editbar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: var(--toolbar-background);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.editbar h2 {
    font-size: 19px;
    color: #aca3a3;
    /* headers have top and bottom margins by default */
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px;
}

.edit-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-group label {
    font-weight: bold;
}

.color-wrapper {
    position: relative;
    width: 50px;
    height: 27px;
    margin-right: 55px;
}

.multiple-colors {
    position: absolute;
    /* shorthand for top, bottom, left, right: 0
    ensures it stretches to fully cover the wrapper parent */
    inset: 0;
    /* repeats transparent 6px and grey 6px at 45 degree angle */
    background: repeating-linear-gradient(
        45deg, 
        transparent 0px, 
        transparent 6px, 
        rgba(255, 255, 255, 0.6) 6px, 
        rgba(255, 255, 255, 0.6) 12px
    );
    /* mouse clicks pass through this layer */
    pointer-events: none;
}

.delete {
    padding: 5.5px 16px;
    background-color: var(--danger);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 14px;
}

.delete:hover {
    background-color: var(--danger-hover);
}

.textbox-container {
    position: absolute;
    z-index: 10;
    border: none;
    padding: 0;
    background: transparent;
    outline: none;
    resize: none;
    /* hides the textarea scrollbar */
    overflow: hidden;
}